<!-- * Template Driven Approach * -->
<form (ngSubmit)="onFormSubmit(formRef)" #formRef="ngForm">
  <!-- Title -->
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      class="form-control"
      required
      #titleRef="ngModel"
      ngModel
    />

    <!-- Error Message -->
    <span
      *ngIf="titleRef.touched && !titleRef.valid"
      class="help-block text-danger"
      >Please enter a valid title!</span
    >
  </div>

  <!-- Author -->
  <div class="form-group">
    <label for="author">Author</label>
    <input
      type="text"
      id="author"
      name="author"
      class="form-control"
      required
      #authorRef="ngModel"
      ngModel
    />

    <!-- Error Message -->
    <span
      *ngIf="authorRef.touched && !authorRef.valid"
      class="help-block text-danger"
      >Please enter a valid author!</span
    >
  </div>

  <!-- Cover Image -->
  <div class="form-group">
    <label for="coverImg">Cover Image Path</label>
    <input
      type="text"
      id="coverImg"
      name="coverImg"
      class="form-control"
      required
      #coverImgRef="ngModel"
      ngModel
    />

    <!-- Error Message -->
    <span
      *ngIf="coverImgRef.touched && !coverImgRef.valid"
      class="help-block text-danger"
      >Please enter a valid URL Image Path!</span
    >
  </div>

  <!-- Submit -->
  <button [disabled]="!formRef.valid" class="btn btn-primary" type="submit">
    Submit
  </button>
</form>

<!-- TODO: RESULTS (Temp: TSK) -->
<div class="row mt-4" *ngIf="isFormSubmitted">
  <div class="col-xs-12">
    <h3>Title: {{ bookDetails.title }}</h3>
    <h3>Author: {{ bookDetails.author }}</h3>
    <img
      [src]="bookDetails.coverImg"
      alt="Cover Image"
      style="max-width: 200px; max-height: 200px"
    />
  </div>
</div>
