<!-- Top Row -->
<div class="row">
  <!-- Saved Book List Title (Half Width of Container) -->
  <div class="col-md-6">
    <h1>API Library Results</h1>
  </div>

  <!-- Search Bar (Half Width of Container) -->
  <div class="col-md-6">
    <app-api-search></app-api-search>
  </div>
</div>

<!-- Bottom Row -->
<div class="row">
  <!-- Saved Book List (Half Width of Container) -->
  <div class="col-md-12">
    <app-api-results-list></app-api-results-list>
  </div>
</div>

<!-- Add Book Modal -->
<app-add-book-notification></app-add-book-notification>
