<!-- Title -->
<div class="row">
  <div class="col-md-12">
    <h2>{{ bookDetails.title }}</h2>
  </div>
</div>

<!-- Author -->
<div class="row">
  <div class="col-md-12">
    <h3>{{ bookDetails.author }}</h3>
  </div>
</div>

<!-- Cover Image -->
<div class="row">
  <div class="col-md-12">
    <img
      src="{{ bookDetails.coverImg }}"
      alt="{{ bookDetails.title }}"
      class="img-responsive"
    />
  </div>
</div>

<hr />

<!-- Edit Book Button -->
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary">Edit Book</button>
  </div>
</div>
