<!-- Title -->
<div class="row">
  <div class="col-md-12">
    <h2>{{ bookDetails.title }}</h2>
  </div>
</div>

<!-- Author -->
<div class="row">
  <div class="col-md-12">
    <h3>{{ bookDetails.author }}</h3>
  </div>
</div>

<!-- Cover Image -->
<div class="row">
  <div class="col-md-12">
    <img
      src="{{ bookDetails.coverImg }}"
      alt="{{ bookDetails.title }}"
      class="img-responsive"
    />
  </div>
</div>

<hr />

<!-- Edit Book Button -->
<div class="row">
  <div class="col-md-12 dropdown" appDropdown>
    <!-- Dropdown Button -->
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Edit Book
    </button>

    <!-- Dropdown Menu -->
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a
        class="dropdown-item"
        style="cursor: pointer"
        (click)="navigateToEditBookRoute()"
        >Update Book</a
      >
      <button
        class="dropdown-item"
        style="cursor: pointer"
        (click)="onRemoveBook()"
      >
        Delete Book
      </button>
    </div>
  </div>
</div>
