<button
  class="mb-3 list-group-item w-100 d-flex justify-content-between align-items-center shadow-sm rounded"
  (click)="bookSelected.emit(book)"
>
  <!-- Left Side - Information -->
  <div class="d-flex flex-column align-items-start">
    <h4 class="list-group-item-heading">{{ book.title }}</h4>
    <p class="list-group-item-text mb-0">{{ book.author }}</p>
  </div>

  <!-- Right Side - Image -->
  <div>
    <img
      src="{{ book.coverImg }}"
      alt="{{ book.title }}"
      class="img-responsive rounded"
      style="max-height: 75px"
    />
  </div>
</button>
